.LoginForm{
    border: 5px solid #A152D1;
    background-color: #d889dc75;
    border-radius: 20px;
    padding: 30px;
    margin: 40px;
    text-align: center;
    display: inline-block;
    width: 500px;
}

.loginContainer{
    border: 5px solid #A152D1;
    background-color: #D889DC;
    border-radius: 20px;
    padding: 50px;
    margin: 40px;
    width: 700px;
    text-align: center;
}