.LoginForm{
    border: 5px solid #703993af;
    background-color: #9d7dae;
    border-radius: 20px;
    padding: 30px;
    margin: 40px;
    text-align: center;
    display: inline-block;
    width: 500px;
}

.loginContainer{
    border: 5px solid #703993af;
    border-radius: 20px;
    padding: 50px;
    margin: 50px;
    width: 700px;
    text-align: center;
}