.registerForm{
    border: 5px solid #703993af;
    background-color: #9d7dae;
    border-radius: 20px;
    padding: 30px;
    margin: 40px;
    text-align: center;
    display: inline-block;
    width: 500px;
}

.registerContainer{
    /* border: 5px solid #703993af; */
    padding: 50px;
    margin: 5% 20%;
    width: 700px;
    text-align: center;
}

/* input{
    padding: 5px;
    margin: 5px;
} */